.modal {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

.modal_type_preview {
  padding: 0 16px;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  max-width: 630px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  cursor: pointer;
  background: none;
}

.modal__close-btn_type_preview {
  max-width: 40px;
  max-height: 40px;
  background: transparent;
  border: none;
  position: absolute;
  top: 0;
  right: -50px;
  cursor: pointer;
}

.modal__close-icon {
  width: 100%;
  height: 100%;
  opacity: 0.4;
}

.modal__close-icon:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  max-width: 630px;
  padding: 4px 0;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin-bottom: 32px;
  display: block;
  font-size: 16px;
  font-weight: 500;
  line-height: 110%;
  color: #212121b3;
  max-width: 630px;
}

.modal__input {
  margin-top: 8px;
  display: block;
  padding: 16px 12px;
  width: 100%;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(33, 33, 33, 0.4);
  font-size: 20px;
  font-weight: 500;
  line-height: 1;
  max-width: 630px;
  box-sizing: border-box;
  cursor: pointer;
}

.modal__input:hover {
  border-color: #212121;
}

.modal__input:focus {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  outline: none;
  border-color: #212121;
  border: 1px solid rgba(0, 0, 0, 0.8);
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  border-radius: 8px;
  cursor: pointer;
  background-color: #212121;
  max-width: 156px;
  height: 52px;
  padding: 18px 32px;
  color: #fcf5e5;
  border: none;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 500;
  font-size: 16px;
}

.modal__submit-btn:hover {
  opacity: 80%;
}

.modal__image-container {
  position: relative;
}

.modal__image {
  border-radius: 8px;
  max-width: 80vw;
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
  display: block;
}

.modal__caption {
  background-color: #212121;
  margin-top: 8px;
  border-radius: 8px;
  padding: 4px 8px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0;
  display: inline-block;
  max-width: 100%;
  max-height: 80vh;
  color: white;
}

@media screen and (max-width: 640px) {
  .modal__close-btn {
    top: -48px;
    right: 0;
  }

  .modal__caption {
    font-size: 16px;
  }
}

@media screen and (max-width: 629px) {
  .modal__image {
    max-width: none;
    max-height: none;
  }

  .modal__submit-btn {
    max-width: none;
  }

  .modal__title {
    padding: 8px 0;
    font-size: 20px;
    color: #212121;
  }

  .modal__container {
    padding: 12px 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__label {
    margin: 0 0 24px;
    font-size: 16px;
    line-height: 110%;
    color: #212121b3;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }
}
