.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__avatar {
  height: 190px;
  width: 190px;
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.profile__name {
  color: #212121;
  margin: 0 0 12px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  max-width: 420px;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.profile__description {
  color: #212121;
  opacity: 0.7;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  color: #212121;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  text-align: left;
  padding: 0;
  margin-top: auto;
  opacity: 70%;
  border: transparent;
  cursor: pointer;
  background-color: #fcf5e5;
}

.profile__edit-btn:hover {
  opacity: 100;
}

.profile__add-btn {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
  width: 149px;
  height: 52px;
  white-space: nowrap;
  margin-top: auto;
  padding: 18px 32px;
  border-radius: 8px;
  margin-left: auto;
  cursor: pointer;
  color: #fcf5e5;
  background-color: #212121;
  border: transparent;
}

.profile__add-btn:hover {
  opacity: 80%;
}

.profile__plus-icon {
  vertical-align: top;
}

@media screen and (max-width: 885px) {
  .profile {
    flex-direction: column;
    padding-top: 20px;
    align-items: center;
    width: fit-content;
  }

  .profile__avatar {
    margin-right: 0;
    margin-bottom: 12px;
    width: 80px;
    height: 80px;
  }

  .profile__column {
    text-align: center;
    margin-right: 0;
  }

  .profile__name {
    margin-bottom: 6px;
    font-size: 20px;
    max-width: 288px;
  }

  .profile__description {
    font-size: 16px;
    max-width: 288px;
  }

  .profile__add-btn {
    width: 288px;
    height: 52px;
    margin: 0;
  }

  .profile__edit-btn {
    margin: 32px 0 20px;
    text-align: center;
  }
}
