.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px rgba(33, 33, 33, 0.2) solid;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1;
}

.profile__avatar {
  margin-right: 20px;
  border-radius: 8px;
}

.profile__column {
  display: flex;
  flex-direction: column;
}

.profile__name {
  margin: 0 0 12px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
}

.profile__description {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0%;
  margin: 0;
  padding: 0;
}

.profile__edit-btn {
  text-align: left;
  padding: 0;
  margin-top: auto;
  opacity: 70%;
  border: transparent;
  background-color: #fcf5e5;
}

.profile__add-btn {
  width: 158px;
  height: 52px;
  margin-top: 138px;
  padding: 18px 32px;
  border-radius: 8px;
  margin-left: auto;
  color: #fcf5e5;
  background-color: #212121;
  border: transparent;
}

.profile__plus-icon {
  vertical-align: top;
}
